* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}

hr {
    display: block;
    border: none;
    height: 1px;
    width: 100%;
    background-color: #fff;
    margin-top: 45px;
    margin-bottom: 35px;
}

.container {
    position: relative;
    width: 1140px;
    margin: 0 auto;

    @media (max-width: 1200px) {
        width: 100%;
    }
    
}

@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/prengi';
@import 'blocks/expert';
@import 'blocks/advantages';
@import 'blocks/variants';
@import 'blocks/start';
@import 'blocks/footer';
@import 'blocks/modal';
@import 'blocks/buttons';
@import 'blocks/pageup';
@import 'blocks/hamburger';


