.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 19px;
    margin-bottom: 16px;
    transition: all 0.5s;

    @media (max-width: 1200px) {
        padding: 0 10px;
        align-items: flex-start;
    }

    @media (max-width: 767px) {
        position: absolute;
        background-color: lightskyblue;
        justify-content: space-around;
        flex-wrap: wrap;
        z-index: 10;
        left: 0;
        margin: 0;
        transform: translateY(-100%);
    }

    &_active {
        transform: translateY(0);
    }

    &-item {
        display: flex;
        justify-content: space-between;
        width: 220px;

        @media (max-width: 1200px) {
            width: 215px;
        }

        @media (max-width: 767px) {
            margin-top: 10px;
        }

        &__descr {
            width: 180px;
            color: #242424;
            font-size: 11px;
            font-weight: 300;
            line-height: 12px;
            margin-left: 11px;

            @media (max-width: 1200px) {
                width: 100%;
            }

        }
        &__name {
            font-size: 14px;
            font-weight: 700;
            margin-bottom: 3px;
        }
        &__addr {
            margin-bottom: 3px;
        }
        &__phone {
            margin-bottom: 3px;
        }
    }
}

.country-btn {
    display: none;
    position: absolute;
    left: 50%;
    width: 90px;
    height: 90px;
    transform: translate(-50%, -50%);
    border-radius: 100%;;
    background: #00c2f0;
    z-index: 2;

    @media (max-width: 767px) {
        display: block;
    }
    
}