.prengi {
    padding: 80px 0 30px 0;
    text-align: center;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 50px;

        @media (max-width: 767px) {
            justify-content: center;
            flex-wrap: wrap;
        }

    }
    &-item {
        position: relative;
        width: 360px;
        min-height: 255px;
        border: 1px solid #ececec;
        text-align: center;

        @media (max-width: 1200px) {
            margin: 10px;
        }

        &__img {
            width: 192px;
            height: 186px;
        }
        &__descr {
            color: #393939;
            font-size: 18px;
            font-weight: 300;
            line-height: 26px;
            &_bold {
                font-weight: 700;
            }
        }
        &__bg {
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
    &__img {
        display: block;
        margin: 0 auto;
    }
    &__title {
        color: #393939;
        font-size: 48px;
        font-weight: 700;
        line-height: 48px;
        text-transform: uppercase;
        margin-top: 33px;
        margin-bottom: 37px;
    }
}