.variants {
    display: flex;
    justify-content: center;
    position: relative;

    @media (max-width: 991px) {
        flex-direction: column;
        justify-content: flex-start;
    }


    img {
        width: 100%;
        height: 100%;
    }
    &__title {
        position: absolute;
        color: #ffffff;
        font-size: 30px;
        font-weight: 700;
        line-height: 30px;
        text-align: center;
        margin-top: 50px;
        z-index: 1;

        @media (max-width: 991px) {
            margin-top: 30px;
            left: 49%;
            transform: translateX(-49%);
        }

        @media (max-width: 575px) {
            display: none;
            width: 300px;
            font-size: 22px;
            line-height: 24px;
            margin-top: 16px;
        }

    }
    &-cloud {
        position: relative;
        width: 50%;

        @media (max-width: 991px) {
            width: 100%;
        }

        &__wrapper {
            position: absolute;
            top: 52%;
            right: 60px;
            transform: translateY(-50%);
            text-align: right;
            z-index: 1;

            @media (max-width: 991px) {
                text-align: center;
                right: 14%;
                padding: 10px;
                top: 58%;
            }

            @media (max-width: 767px) {
                right: 0;
                top: 66%;
            }

            @media (max-width: 575px) {
                top: 50%
            }

        }
        &__title {
            color: #ffffff;
            font-size: 30px;
            font-weight: 700;
            line-height: 20px;
            text-transform: uppercase;
            margin-bottom: 20px;

            @media (max-width: 991px) {
                line-height: 30px;
            }

            @media (max-width: 991px) {
                font-size: 30px;
            }

            @media (max-width: 575px) {
                font-size: 20px;
                line-height: 20px;
                margin-bottom: 8px;
            }

        }
        &__descr {
            color: #ffffff;
            font-size: 18px;
            font-weight: 300;
            line-height: 20px;

            @media (max-width: 1200px) {
                font-size: 16px;
            }

            @media (max-width: 991px) {
                font-size: 20px;
            }

            @media (max-width: 575px) {
                font-size: 16px;
                line-height: 18px;
            }
        }
    }
    &-server {
        position: relative;
        width: 50%;

        @media (max-width: 991px) {
            width: 100%;
        }

        &__wrapper {
            position: absolute;
            top: 52%;
            left: 60px;
            transform: translateY(-50%);
            z-index: 1;

            @media (max-width: 991px) {
                padding: 10px;
                text-align: center;
                right: 7%;
                top: 40%;
            }

            @media (max-width: 767px) {
                right: 10%;
                top: 53%;
            }

            @media (max-width: 575px) {
                right: 0;
                left: 0;
            }

        }
        &__title {
            color: #ffffff;
            font-size: 30px;
            font-weight: 700;
            line-height: 20px;
            text-transform: uppercase;
            margin-bottom: 20px;

            @media (max-width: 991px) {
                line-height: 30px;
            }

            @media (max-width: 991px) {
                font-size: 30px;
            }

            @media (max-width: 575px) {
                font-size: 20px;
                line-height: 24px;
            }

        }
        &__descr {
            color: #ffffff;
            font-size: 18px;
            font-weight: 300;
            line-height: 20px;

            @media (max-width: 1200px) {
                font-size: 16px;
            }

            @media (max-width: 991px) {
                font-size: 20px;
            }

            @media (max-width: 575px) {
                width: 300px;
                font-size: 16px;
                line-height: 18px;
            }
        }
    }
    .blue {
        position: absolute;
        top: 52%;
        left: 40%;
        transform: translateY(-50%);
        width: 167px;
        height: 167px;
        background-color: #00c2f0;
        opacity: 0.3;

        @media (max-width: 1200px) {
            left: 30%;
        }

        @media (max-width: 991px) {
            display: none;
        }
        
        &__right {
            left: 51.4%;

            @media (max-width: 1200px) {
                left: 54.4%;
            }

        }
    }
}